/**
 * BioLink API
 * API integration layer for linked biological objects.   __Source:__ https://github.com/monarch-initiative/biolink-api/
 *
 * OpenAPI spec version: 0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PairsimApi {
    private ApiClient apiClient;

    public PairsimApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PairsimApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for getPairSimJaccardResource */
    private com.squareup.okhttp.Call getPairSimJaccardResourceCall(String id2, String id1, String objectCategory, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id2' is set
        if (id2 == null) {
            throw new ApiException("Missing the required parameter 'id2' when calling getPairSimJaccardResource(Async)");
        }
        
        // verify the required parameter 'id1' is set
        if (id1 == null) {
            throw new ApiException("Missing the required parameter 'id1' when calling getPairSimJaccardResource(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/pair/sim/jaccard/{id1}/{id2}/".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id2" + "\\}", apiClient.escapeString(id2.toString()))
        .replaceAll("\\{" + "id1" + "\\}", apiClient.escapeString(id1.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (objectCategory != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "object_category", objectCategory));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Get pairwise similarity
     * 
     * @param id2 id, e.g. NCBIGene:1200; ZFIN:ZDB-GENE-980528-2059; UniProtKB:P12644 (required)
     * @param id1 id, e.g. NCBIGene:10891; ZFIN:ZDB-GENE-980526-166; UniProtKB:Q15465 (required)
     * @param objectCategory e.g. disease, phenotype, gene. Two subjects will be compared based on overlap between associations to objects in this category (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getPairSimJaccardResource(String id2, String id1, String objectCategory) throws ApiException {
        getPairSimJaccardResourceWithHttpInfo(id2, id1, objectCategory);
    }

    /**
     * Get pairwise similarity
     * 
     * @param id2 id, e.g. NCBIGene:1200; ZFIN:ZDB-GENE-980528-2059; UniProtKB:P12644 (required)
     * @param id1 id, e.g. NCBIGene:10891; ZFIN:ZDB-GENE-980526-166; UniProtKB:Q15465 (required)
     * @param objectCategory e.g. disease, phenotype, gene. Two subjects will be compared based on overlap between associations to objects in this category (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getPairSimJaccardResourceWithHttpInfo(String id2, String id1, String objectCategory) throws ApiException {
        com.squareup.okhttp.Call call = getPairSimJaccardResourceCall(id2, id1, objectCategory, null, null);
        return apiClient.execute(call);
    }

    /**
     * Get pairwise similarity (asynchronously)
     * 
     * @param id2 id, e.g. NCBIGene:1200; ZFIN:ZDB-GENE-980528-2059; UniProtKB:P12644 (required)
     * @param id1 id, e.g. NCBIGene:10891; ZFIN:ZDB-GENE-980526-166; UniProtKB:Q15465 (required)
     * @param objectCategory e.g. disease, phenotype, gene. Two subjects will be compared based on overlap between associations to objects in this category (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPairSimJaccardResourceAsync(String id2, String id1, String objectCategory, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPairSimJaccardResourceCall(id2, id1, objectCategory, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
